/* RESET */
* {
	box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styles */

.header {
  background: beige;
  padding: 30px 0;
  
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 100px;
  text-align: center;
}

.logo, .menu, .btn {
  text-decoration: none;
  display: inline-block;
  color: brown;
  text-transform: uppercase;
  font-size: 20px;
}

.menu {
  text-align: center;
  width: 990px;
}

.menu li {
  display: inline-block;
  margin-left: 20px;
}

.menu li a {
  text-decoration: none;
  color: brown;
}

.btn {
  width: 100px;
	cursor: pointer;
  background: inherit;
}

/* CARDS */


.cards {
	padding: 40px 0;
	background: lightgrey;
}

.cards-container {
	font-size: 0;
}

.card-item {
	width: 300px;
	padding: 10px;
	border-bottom: 1px solid brown;
	border-right: 1px solid brown;
	display: inline-block;
	font-size: 14px;
	vertical-align: top;
}

.card-image {
	display: block;
	height: 400px;
	margin-bottom: 15px;
}

.card-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-title {
	margin-bottom: 10px;
  text-align: center;
}

.card-title a {
	font-size: 20px;
	font-weight: 900;
	text-transform: uppercase;
	color: inherit;
	text-decoration: none;
}
.card-desc {
	text-align: justify;
	height: 85px;
	overflow: hidden;
  text-align: center;
}
.card-link {
	color: brown;
  font-size: 20px;
  font-weight: 200;
}

/* FOOTER */

.footer {
  background: beige;
  padding: 25px 0;
	font-size: 10px;
	text-align: center;
	color: brown;
}

.footer a {
  color: brown;
  text-decoration: none;
  cursor: pointer;
  
}

.footer div a + p {
  display: inline-block;
  margin-left: 20px;
}
